<launch>
  <arg name="usb_port"     default="/dev/ttyUSB0"/>
  <arg name="baud_rate"    default="1000000"/>
  <arg name="control_period"         default="0.010"/>
  <arg name="use_platform"           default="true"/>
  <arg name="with_gripper"           default="false"/>

  <param name="base_link" value="base_link" />
  <param name="ee_link" value="gripper" />
  <!-- If it's a .xacro -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find open_manipulator_p_gazebo)/urdf/open_manipulator_p.urdf.xacro'" />

  <node name="effort_filter"
        pkg="open_manipulator_p_controller"
        type="effort_filter.py"
        output="screen" />

</launch>
